# Dependencies
node_modules/

# Environment variables
.env

# Playwright output
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# IDE
.vscode/

# Logs
*.log

