# Dependencies
node_modules/

# Environment variables
.env


# Playwright output
/test-results/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/


# OS
.DS_Store

# IDE
.vscode/

# Logs
*.log

